.admin-container{
    min-height: 100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1621369660822-79ba512be244?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
    .add-products{
        min-height: 90vh;
        width: 60vw;
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h1{
            margin-top: -1.5rem;
        }
        .form{
            width: 90%;
            display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
            button{
                color: white;
                background-color: black;
                border: none;
                padding: .5rem 2rem;
                font-size:1rem  ;
            }
        }
        .selector{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            margin-bottom: 1rem;
        }
        .information{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            textarea{
                width: 100%;
                margin: .4rem 0;
                padding: .2rem 1rem;
                border: 1px solid black;
                border-radius: 2px;
                font-size: 1rem;
            }
            input{
                width: 100%;
                margin: .4rem 0;
                padding: .2rem 1rem;
                border: 1px solid black;
                border-radius: 2px;
                font-size: 1rem;
            }
        }
    }

}

@media only screen and (max-width:769px){

    .admin-container{
        min-height: 100vh;
        width:100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(https://images.unsplash.com/photo-1621369660822-79ba512be244?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
        h1{
            font-size: 1.5rem;
        }
        .add-products{
            min-height: 90vh;
            width: 90vw;
            background-color: rgb(255, 255, 255);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .form{
                width: 80%;
                min-height: 100%;
            }
            .selector{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                margin-bottom: 1rem;
            }
            .information{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                input{
                    width: 100%;
                    margin: .4rem 0;
                    padding: .2rem 1rem;
                    border: 1px solid black;
                    border-radius: 2px;
                    font-size: 1rem;
                }
            }
        }
    
    }
    
}